* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Impact, sans-serif;
    background: #fef0a3;
    color: #4682B4;
    overflow: hidden;
}

.pesquisador {
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
}

.pesquisador ul {
    list-style: none;
    padding: 0;
}

.pesquisador ul li {
    display: inline;
    margin: 0 10px;
}

.pesquisador ul li a {
    text-decoration: none;
    color: #4682B4;
    transition: color 0.3 ease;
}

.pesquisador ul li a:hover {
    cursor: pointer;
    color: #2f5574;
}

.princ {
    position: relative;
    font-size: 150px;
    padding: 24px;
    margin: 16px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-bottom: 30%;
}

.foto {

    margin-bottom: 0;
    position: absolute;
    margin: 16px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: auto;

}

.imagem {
    position: absolute;
    margin: 16px;
    display: flex;
    justify-content: center;
    margin-top: -470px;
}

.tipo {
    font-family: Impact, sans-serif;
    background: #2f5574;
    color: #fef0a3;
}

.pesquisador2 {
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
}

.pesquisador2 ul {
    list-style: none;
    padding: 0;
}

.pesquisador2 ul li {
    display: inline;
    margin: 0 10px;
}

.pesquisador2 ul li a {
    text-decoration: none;
    color: #fef0a3;
    transition: color 0.3 ease;
}

.pesquisador2 ul li a:hover {
    cursor: pointer;
    color: #c1b77e;
}

.pesquisador2 ul li a .sobre {
    color: #c1b77e;
}

.texto {
    font-size: 70px;
    padding: 24px;
    margin: 16px auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.fundo {
    background-color: #2f5574;
}

.fundo2 {
    background-color: #fef0a3;
}

.box {

    border: 2px solid #FDF3B0;
    border-radius: 16px;
    padding: 40px 30px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-top: -60px;
}

p {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serifsans-serif;
}

.box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border: 2px solid #2f5574;
    border-radius: 16px;
    padding: 40px 30px;
    max-width: 900px;
    margin: 0 auto;
    margin-top: -60px;
}

.formac {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    flex: 1;
}

.formac ul {
    list-style: none;
    padding: 0;
}

.linha {
    border-left: 2px solid #2f5574;
    height: 150px;
}

.box ul,
.box2 ul {
    list-style: none;
    padding: 0;
}

.hobbies i {
    font-size: 40px;
    color: #182b3a;
}

.hobbies ul li {
    display: flex;
}

.hobbies {
    padding: 0;
    margin: 20px auto 0 auto;
    width: fit-content;
    text-align: left;
}

.rede ul li {
    display: inline;
}

.rede i {
    font-size: 100px;
    color: #182b3a;
}

.cont {
    display: grid;
    line-height: 0.2;
}

input,
textarea {
    width: 100%;
    height: auto;
    padding: 8px;
    border: 1px solid #2f5574;
    border-radius: 4px;
    background-color: #5195cd;
    color: #fef0a3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    width: 100%;
    height: auto;
    padding: 8px;
    border: 1px solid #2f5574;
    border-radius: 4px;
    background-color: #2f5574;
    color: #fef0a3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input::placeholder,
textarea::placeholder,
button::placeholder {
    color: #fef0a3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text {
    width: 400px;
    height: auto;
}

.quinta {
    width: 300px;
    height: auto;
    border: 10px solid #c1b77e;
    border-radius: 8px;
}